#!/usr/bin/env bash
set -e

EXISTING_XFS_VOLUME=false

%{ for additional_volume in additional_volumes ~}
if [[ "$(blkid /dev/${additional_volume.volume})" == *"TYPE=\"xfs\"" ]]; then
    EXISTING_XFS_VOLUME=true
else
    EXISTING_XFS_VOLUME=false
fi

if [[ $EXISTING_XFS_VOLUME != true ]]; then
    mkfs -t xfs /dev/${additional_volume.volume}
fi
mkdir -p ${additional_volume.mount_point}
mount /dev/${additional_volume.volume} ${additional_volume.mount_point}
%{ endfor ~}